﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VAT Computer 1000</h1>
    <form method="post">
        <div class="form-fields">
            <div>
                <label>Sale Amount:</label><br />
                <input name="Sales" type="number" value="@Model.Sales" />
            </div>
            <div>
                <label>VAT Amount:</label><br />
                <input name="Vat" type="number" value="@Model.Vat" />
            </div>
        </div>
        <div class="form-fields">
            <div class="button-container">
                <button id="compute-btn" type="submit" class="btn btn-primary">Compute</button>
            </div>
            <div class="results">
                <label>VAT Due:</label>
                <strong>
                    @(string.Format("{0:C}", this.Model.Total))
                </strong>
            </div>
        </div>
    </form>
</div>
